/*
    Custom CSS author  @AriefManggalaPutra
    date : 31 agustus 2018;
*/
body{
    background-image:url('../images/backgroundAetra.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
       overflow: hidden;
}
.card{
    border-radius: 20px;
    opacity:0.93;
}
 
.card-body h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
} 
.card-right{
    background-color:#000;
}
.card-header{
    background:#fff;
    padding:0;
    margin:0 auto;
    border:0; 
} 
.card-body{    
  padding: 1.25rem;
}

/*.container{
    margin:0;
    margin-top:140px;
    margin-left:200px;
}*/

.form-control{
    line-height: 2.6;
    border-radius: 1.25rem;
}

.btn{
    padding: 0.7rem 3rem;
    border-radius: 20px;
}

 .right-content {
      /*width: 600px;*/
      background-color: rgba(38,103,141,.6) ;
      color:#fff;
      height:130%;
      display: block;
      position: relative;
      overflow: hidden;
      color: #fff;
}

.text-content{
    margin-top:250px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    text-align: justify;
}

.right-content::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  overflow: hidden;
}
.border-center hr{
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #fff;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
 
}