#map {
    width: 100%; height: 500px; margin-top: 40px; margin-bottom: 40px;
}
.my-custom-class-for-label {
  width: 100px; 
  height: auto;

  border: 1px solid #eeeeee;
  border-radius: 5px;
  background: #ffffff;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #eb3a44;
}